<div class="footer-expand-lg m-0">

  <hr>
  <footer class=" text-center text-lg-start text-white">

    <div class="container p-4">

      <div class="row">
  
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-lg-center">

          <div class=" d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="./blue_square.svg" alt="footer logo" />
          </div>

          <input class="text-tomato bg-light fw-bold text-primary rounded-2 p-2 w-57 mb-4"/>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-white ps-2" href="#!">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>

        </div>
  

        <div class="col-lg-2 col-md-6 my-4 mb-md-0">
          <h5 class="text-uppercase mb-4">The Basics</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white">About TMDB </a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">Contact Us </a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">Documentation </a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">Business </a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">System Status </a>
            </li>
          </ul>
        </div>

   
        <div class="col-lg-2 col-md-6 my-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Get Involved</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white">Contribution Bible </a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">New Movie </a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">New TV Show </a>
            </li>
          </ul>
        </div>



        <div class="col-lg-2 col-md-6 my-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Community</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <a href="#!" class="text-white">Guidelines </a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">Discussions </a>
            </li>
            <li class="mb-2">
              <a href="#!" class="text-white">Leaderboard </a>
            </li>
          </ul>
        </div>

        
        
      
      </div>
     
    </div>
   

  </footer>

</div>
