.overlay{
  position: relative;       
  background-image: url('poster01.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 1rem;          
  color: white;
  text-align: center;
  overflow: hidden;
}

.overlay .all{
  position: relative;
  z-index: 2;
}

.fullscreen {
  min-height: 70vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
}
