/* 🔹 خلفية لقسم البحث فقط */
.overlay {
  position: relative;
  background-image: url('../../../assets/poster01.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 1rem;
  color: white;
  text-align: center;
  overflow: hidden;
}

.card {
  background-color: white;
  border-radius: 10px;
}
